.product {

  &Card {
    width: 350px;
    display: inline-block;
    margin: 8px;

    &Img {
      max-height: 300px !important;
    }
  }
}

.containerProduct {
  padding: 5px 10px 5px 10px;
}

.toggleCard {
  border: none;
  margin: 10px 0 5px 0;
}


